@charset "utf-8";

/* 头部开始 */

header{
    height: 80px;
    background-color: #EA967A;
}
header h1{
    line-height: 80px;
    font-size: 28px;
    color: white;
    margin-left: 50px;
}

/* 主体开始 */
main{
    background-color: #ECECEC;
    padding: 32px 0 30px 30px;
}
main h3{
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: bold;
}
main p{
    font-size: 16px; 
    font-weight: bold;  
    float: left;
    line-height: 30px;
}

/* 商品名称+简单描述+关键字 */
.goods_info>li{
    width: 75%;
    margin-top: 30px;
}
.goods_info>li p{  
    width: 13%;
}
.goods_info>li p i{
    color: red;
}
.goods_info>li input{
    width: 84%;
    height: 30px;
    border: none;
    border: 1px solid #CCCCCC;  
}
.goods_info>li input::placeholder{
   padding-left: 20px;
}

/* 产品分类 */
.goods_class{
    margin: 30px 0 37px 0;
}
.goods_class .check{
    display: inline-block;
    width: 84%;
}
.goods_class p{
    width: 9.8%;
}
.goods_class p i{
    color: red;
}
.check ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.check ul li{
    width: 23%;    
    float: left;
    border: 1px solid #D5D5D5;
}

.check ul li input{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 7px 5px 5px 10px;
}
.check ul li label{
    vertical-align: middle;
    font: 14px "微软雅黑";
}
.check ul li:last-of-type{
    border: none;
}
.check ul li button{
    width: 70px;
    height: 32px;
    border: none;
    background-color: #438EB8;
    color: white;
    font-size: 12px;
}


/* 商品价格 */
.goods_price{
width: 90%;
display: flex;
justify-content: space-between;
}
.goods_price li{
    width: 15%;
}
.goods_price li p{
    padding-bottom: 9px;
}
.goods_price li p i{
    color: red;
}
.goods_price li input{
    width: 85%;
    height: 28px;
    border: none;
    border: 1px solid #CCCCCC;  
}



/* 设置价格 */
.set{
    margin-top: 33px;
    width: 100%;
}
.set p{
    width: 9.8%;
}
.set input{
    height: 30px;
    border: none;
    border: 1px solid #CCCCCC;
    width: 63%;  
}
.set span{
    font-size: 12px; 
}

/* 是否上架+允许评论 */
.shangjia p,.pinglun p{
    width: 9%;
}
.shangjia input,.pinglun input{
   width: 18px;
   height: 18px;
   margin-right: 5px;
   vertical-align: middle;
   
}
.shangjia label,.pinglun label{
   vertical-align: middle;
    font: 14px "微软雅黑";
    margin-right: 40px;
  }
.shangjia{
    margin-top: 37px;
    margin-bottom: 42px;
}

.img{
margin-top: 35px;
margin-bottom: 35px;
}
.img p{
    width: 9.8%;
}
.img p i{
    color: red;
}

/* 内容介绍 */
.intro p{
        width: 9.8%;
    }
.intro p i{
        color: red;
    }
.intro textarea{
    width: 90%;
    resize: none;
    }

    /* 底部按钮 */
.btn{
    margin-top: 33px;
    display: flex;
    justify-content: center;
}
.btn button{
    width: 80px;
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.btn button:nth-of-type(1){
    background-color: #438EB8;
}
.btn button:nth-of-type(2){
    background-color: #E19A7E;
    margin: 0 40px;
}
.btn button:nth-of-type(3){
    background-color: #BBBBBB;
}